HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### wildfly ##
wildfly-24.0.0.Final/standalone/configuration/logging.properties
wildfly-24.0.0.Final/standalone/deployments/*
wildfly-24.0.0.Final/standalone/log/*         
wildfly-24.0.0.Final/standalone/data/*
wildfly-24.0.0.Final/standalone/deployments/README.txt
wildfly-24.0.0.Final/standalone/deployments/EARmodule-1.0-SNAPSHOT.ear
wildfly-24.0.0.Final/standalone/deployments/EARmodule-1.0-SNAPSHOT.ear.deployed
wildfly-24.0.0.Final/standalone/log/server.log
